# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
env/

# Django
*.log
staticfiles/
media/
local_settings.py

# SQLite
*.sqlite3

# IDE/OS
.vscode/
.history/
.DS_Store
Thumbs.db

*.docx